* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    background: #FFF;
    gap: 30px;
    flex-direction: column;
}

a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home_text {
    color: #F25822;
}

.menu {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
}

.top_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.top_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 522px;
}

.text_h1 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 520px;
}

p {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 460px;
}

button {
    border-radius: 50px;
    background: #F25822;
    color: #ffffff;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
}

.top_button {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.text_near_button {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_logo {
    display: inline-flex;
    gap: 48px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.imaging_foot {
    height: 50px;
    flex-shrink: 0;
}

.profit_info {
    width: 40%;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    align-self: center;
    justify-content: center;
    gap: 30px;
}

.profit_card {
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    padding: 30px;
}

.profit_header {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profit_link {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 16.5px */
}

.profit_text {
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.choose_us_block {
    width: 100%;
    background: #FAFAFA;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.choose_text {
    width: 30%;
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.point_blocks {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    align-self: center;
    justify-content: center;
    gap: 30px;
}

.point_card {
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.point_text {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}